<!DOCTYPE html>
<html>
  <head>
    <title>Finance Clone</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>    
    <%= csrf_meta_tags %>
    
</head>
<body>


<div id='sidebar'></div>
<div id="content"></div>


 <script type="text/javascript" charset="utf-8">
   $(document).ready(function(){
     FinanceClone.initialize();
   });
 </script>

<script type="text/javascript">
    window.currentUser = {
        id : "<%= current_user.id %>"
    }
</script>

</body>
</html>