<h2>Welcome to Finance Clone</h2><br><br>

<font face="san-serif" size="4">

<p>Where you can participate in a stock investing competition and see where you rank with other users.</p>

<p>Our trading platform works by entering a positive number of shares to buy or close a short position, and entering a negative number of shares to sell or open a short position. Keep track of your profit and percent gain on your My Portfolio page.</p>

<p>Our performance graph will track how much total profit you have created on a daily basis.  See where you place on our leaderboard.  Follow the portfolios that interest you.  Set alerts on your stocks that will trigger if a stock percent swing exceeds the tolerance you set, set to zero to remove alert.  Check your alerts by hovering over "Alerts" in the nav bar, hover over account for account related features (signed in as, edit account, sign out).</p>

<p>Currently we are only trading aapl, tsla, and goog.  And we offer 1 day charts updated with a new quote every ten minutes(it's what herokuapp scheduler allows and also makes for a nice looking chart).  A new quote is made right when you buy, but it is not saved to the quote database table, the price IS added to the trades database table.</p>
</font>

