

<font color="grey" size="6"><%= company.escape("name") %></font>

<br>

<font color="grey" size="4"><%= company.escape("symbol") %></font>

<br>

<input type="hidden" id="symbol" value="<%= company.escape("symbol") %>">

<b><font size="6" id='price'></font></b>&nbsp;&nbsp;&nbsp;

<font size="4" id='change'></font>

<div id='result'></div> 

<input type="hidden" id="symbol" value="TSLA">
<div id='result'></div>
<script language="JavaScript">
  getData();
  setInterval(getData, 3000);
</script>

<br>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script type="text/javascript">

$(function () {
    $('#container').highcharts({
        title: {
            text: ''
        },
        credits: {
            enabled: false
        },
        xAxis: {
          type: 'datetime'
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            enabled: false
        },

        series: [{
            name: 'Price',
            pointInterval: 600 * 1000,
            pointStart: Date.UTC(2014, 10, 4, 9,30),
            data: [<%= company.escape("price_graph_data_y_axis") %>]

        }]
    });
});

</script>


<br><br><br><br>




