<h2> Leaderboard </h2>&nbsp;&nbsp;&nbsp;

<a href="#users" class="btn btn-default">show all</a>

<br><br>

<% var myid = window.currentUser.id %>

<% if (users.length > 0) { %>
  <% var leader_ids = users.get(myid).escape("leader_ids").split(',') %>
  <% leader_ids.indexOf("2") %>
<% } %>

<% users = users.toJSON() %>

<table class="table table-condensed">
  <% for (var i=0; i<users.length; i++) { %>
    <tr>
      <% if (users[i].percent_gain > 0) { %>
        <% var plus_sign = "+" %>
      <% } else { %>
        <% var plus_sign = "" %>
      <% } %>

      <% if (leader_ids.indexOf(users[i].id.toString()) < 0) continue%>

      <td><%= users[i].name %></td>
      <td><%= plus_sign %><%= users[i].percent_gain %>&#37;</td>
      <td><b><a href="#users/<%= users[i].id %>"><span>i</span></a></b></td>
    </tr>
  <% } %>
</table>
