<b><font size="6"> Leaderboard </font></b>&nbsp;&nbsp;&nbsp;

<a href="#">show followed only</a>

<br><br>



<% users = users.toJSON() %>

<table>
  <% for (var i=0; i<users.length; i++) { %>
    <tr>
      <td><%= users[i].name %></td>
      <td><%= users[i].profit %></td>
      <td><b><a href="#">i</a></b></td>
    </tr>
  <% } %>
</table>


