<h2> Leaderboard </h2>&nbsp;&nbsp;&nbsp;

<a href="#usersfollow" class="btn btn-default">show followed only</a>

<br><br>



<% users = users.toJSON() %>

<table class="table table-condensed">
  <% for (var i=0; i<users.length; i++) { %>
    <tr>
      <% if (users[i].percent_gain > 0) { %>
        <% var plus_sign = "+" %>
      <% } else { %>
        <% var plus_sign = "" %>
      <% } %>
      <td><%= users[i].name %></td>
      <td><%= plus_sign %><%= users[i].percent_gain %>&#37;</td>
      <td><b><a href="#users/<%= users[i].id %>"><span>i</span></a></b></td>
    </tr>
  <% } %>
</table>


