.col-sidebar {
  width: 300px;
  padding-left: 1cm;
}

.col-mainbar {
  width: 700px;
}

/* RESET ul */
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-decoration: inherit;
}

/* remove bullet */
ul {
  list-style: none;
}

/* default font that will inherit */
body {
  font-family: sans-serif;
}

/* UTILS */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* HEADER */

.get-quote {
  padding-left: 100px;
}

header {
  background: rgb(241,241,241);
  height: 60px;
}

header a {
  color: black;
}

header .title {
  color: blue;
}

header > nav {
  width: 900px;
  margin: auto;
  float: left;
  padding-left: 20px;
}

.logo {
  line-height: 2em;
}

header ul {
  float: right;
}
header > nav > ul > li {
  float: left;
}
header li a {
  padding: 10px;
  display: block;
}

/* DROPDOWN */

.dropdown {
  position: relative;
  line-height: 2.9em;
  margin-right: 25px;
  z-index: 1000;
}

.menu {
  display: none;
  position: absolute;
  background: rgb(229,229,229);
  left: -80px;
}

.menu li {
  width: 220px;
  padding: 5px;
  text-align: center;
}

.dropdown:hover .menu {
  display: block;
}


.menu-account {
  display: none;
  position: absolute;
  background: white;
  left: -120px;
  border-style: solid;
  border-width: 1px;
}

.menu-account li {
  width: 300px;
  padding: 5px;
  text-align: center;
}

.dropdown:hover .menu-account {
  display: block;
}
