<h2 class="logo"><font color="blue" face="verdana"><i>bit</i></font><font color="green">Chart</font><font color="orange">.</font></font><font color="red"><i>co</i></font></h2>


    <!-- Get a quote - start -->   
    <form  class="quote-form">
      <input
        id="recent_quote_user_id"
        name="recent_quote[user_id]"
        type="hidden"
        value="<%= window.currentUser.id %>">
      <input
        id="recent_quote_symbol"
        name="recent_quote[symbol]"
        type="text"
        placeholder="enter stock ticker">

      <input type="submit" value="Search">
    </form>
    <!-- Get a quote - end -->